.flaskenv
.git
.coverage
.mypy_cache
.pytest_cache
*.log
__pycache__
venv
ve
tests
Jenkinsfile
Dockerfile
pyproject.toml
compose.yaml
wsgi.py
README.md
sheikhs_docker_compose_variables.env
markdown_img.png
