.coverage
.flaskenv
.git
.mypy_cache
.pytest_cache
*.log
__pycache__
dist
venv
ve
tests
Jenkinsfile
Dockerfile
pyproject.toml
compose.yaml
README.md
sheikhs_docker_compose_variables.env
markdown_img.png
markdown_img.png:Zone.Identifier
