{% extends 'base.html' %}

{% block content %}
	<section class="light carousel">
		<div class="container">
			<div class="carousel--inner">
				<p class="carousel--heading-primary">Прості та вигідні рішення для бізнесу</p>
				<p class="carousel--desc">Ознайомтеся з нашими пропозиціями та послугами, зробіть свій бізнес стильним та впізнаваним. Ми гарантуємо унікальний дизайн, який сподобається вам та вашим клієнтам, у короткий термін та за приємну ціну.</p>
				<a class="carousel--btn" href="#offer">Переглянути пропозиції</a>
			</div>
		</div>
	</section>

	<section class="background-dark light pad-top64px pad-btm64px">
		<div class="container flex statistics-flex">
			<div>
				<p class="statistics-count qoc">0276</p>
				<p class="fontsize24px statistics-info">Виконаних замовлень</p>
			</div>
			<div>
				<p class="statistics-count qoc">0147</p>
				<p class="fontsize24px statistics-info">Унікальних дизайнів</p>
			</div>
			<div>
				<p class="statistics-count qoc">0067</p>
				<p class="fontsize24px statistics-info">Задоволених клієнтів</p>
			</div>
		</div>
	</section>

	<section class="background-light dark" id="cooldesign">
		<div class="container">
			<p class="cooldesign-title qoc">РОБИМО КРУТИЙ ДИЗАЙН ДЛЯ НАШИХ КЛІЄНТІВ</p>
			<p class="cooldesign-info">Ми - команда Sheikhs, наша робота - це про ваш бізнес та його обличчя. Щодня ми приймаємо десятки замовлень від клієнтів, консультуємо та допомагаємо у розвитку їх справ. Робимо логотипи, вивіски, поліграфічні матеріали, навігацію, візуалізації та концепти для ваших соцмереж, торгових точок, офісів та робочих місць.</p>
			<div class="flex flex--center cooldesign-inner">
				<div>
					<img class="cooldesign-img" src="{{ url_for('static', filename='images/01.png') }}" alt="Not Found">
					<p class="cooldesign-p">Створюємо унікальну айдентику, та повний бренд-пакет для вашого бізнесу</p>
				</div>
				<div>
					<img class="cooldesign-img" src="{{ url_for('static', filename='images/02.png') }}" alt="Not Found">
					<p class="cooldesign-p">Дослуховуємось до усіх побажань та вибудовуємо роботу у вашому режимі</p>
				</div>
				<div>
					<img class="cooldesign-img" src="{{ url_for('static', filename='images/03.png') }}" alt="Not Found">
					<p class="cooldesign-p">Візуалізуємо усю роботу, виконуємо замовлення по поліграфії та віддаємо готовий продукт</p>
				</div>
			</div>
		</div>
	</section>

	<section class="background-dark light" id="portfolio">
		<div class="container portfolio-inner">
			<p class="portfolio-title qoc">НАШЕ ПОРТФОЛІО</p>
			<div class="grid portfolio-grid">
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=24) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '1_Leggitop_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=25) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '2_Pidshypnyk_group_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=26) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '3_d0cplay_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=27) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '4_MSI_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=28) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '5_Bearing_store_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=29) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '6_Purple_lama_title_image.svg') }}">
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="background-light" id="offer">
		<div class="offer-cont container">
			<p class="offer-title dark qoc">ЩО МИ ПРОПОНУЄМО?</p>
			<div class="light offer-flex">
				<div class="flex flex--column background-dark">
					<p class="offer-type qoc">БАЗОВИЙ ПАКЕТ</p>
					<p class="offer-price qoc">3000<span>&#8372;</span></p>
					<ul class="flex flex--column offer-list">
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Два варіанти логотипу з доопрацюванням одного обраного</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Пакет підготованих файлів для друку та web-використання</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/crossmark.svg') }}" alt="Not Found"/><span class="offer-text">Презентація з прикладами застосування логотипу та візуалізаціями</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/crossmark.svg') }}" alt="Not Found"/><span class="offer-text">Розробка коротких версій логотипу (іконки для соцмереж, сайтів тощо)</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/crossmark.svg') }}" alt="Not Found"/><span class="offer-text">Створення корпоративної палітри кольорів</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/crossmark.svg') }}" alt="Not Found"/><span class="offer-text">Підготовка фірмових текстур для соцмереж та трьох макетів поліграфії (візитівки, флаєри, фірмові бланки тощо)</span></li>
					</ul>
				</div>
				<div class="background-dark">
					<p class="offer-type qoc">СТАНДАРТНИЙ ПАКЕТ</p>
					<p class="offer-price qoc">4000<span>&#8372;</span></p>
					<ul class="flex flex--column offer-list">
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Три варіанти логотипу з доопрацюванням одного обраного</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Пакет підготованих файлів для друку та web-використання</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Презентація з прикладами застосування логотипу та візуалізаціями</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Розробка коротких версій логотипу (іконки для соцмереж, сайтів тощо)</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/crossmark.svg') }}" alt="Not Found"/><span class="offer-text">Створення корпоративної палітри кольорів</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/crossmark.svg') }}" alt="Not Found"/><span class="offer-text">Підготовка фірмових текстур для соцмереж та трьох макетів поліграфії (візитівки, флаєри, фірмові бланки тощо)</span></li>
					</ul>
				</div>
				<div class="background-dark">
					<p class="offer-type qoc">РОЗШИРЕНИЙ ПАКЕТ</p>
					<p class="offer-price qoc">5000<span>&#8372;</span></p>
					<ul class="flex flex--column offer-list">
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Чотири варіанти логотипу з доопрацюванням одного обраного</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Пакет підготованих файлів для друку та web-використання</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Презентація з прикладами застосування логотипу та візуалізаціями</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Розробка коротких версій логотипу (іконки для соцмереж, сайтів тощо)</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Створення корпоративної палітри кольорів</span></li>
						<li class="offer-info"><img class="offer-icon" src="{{ url_for('static', filename='images/checkmark.svg') }}" alt="Not Found"/><span>Підготовка фірмових текстур для соцмереж та трьох макетів поліграфії (візитівки, флаєри, фірмові бланки тощо)</span></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
