{% extends 'base.html' %}
{% block title %}Edit "{{ work.title }}" {% endblock %}
{% block content %}
	<section class="background-light dark flex--view-priority">
		<div class="container">
			<div class="flex flex--column flex--gap36px pad-top64px pad-btm64px">
				<form method="post" enctype="multipart/form-data">
					<ul class="flex flex--column flex--gap36px none-list-style">
						<li class="auth-text"><label for="title">Title</label></li>
						<li>
							<input name="title" id="title" value="{{ request.form['title'] or work.title }}" required/>
						</li>
						<li class="auth-text"><label for="description">Description</label></li>
						<li>
							<textarea class="auth-create-textarea" name="description" id="description">{{ request.form['description'] or work.description }}</textarea>
						</li>
						<li>
							<input class="fontsize16px auth-btn auth-btn-primary" type="submit" value="Save"/>
						</li>
					</ul>
				</form>
				<div class="flex flex--gap24px">
					<a class="btn-link" href="{{ url_for('gallery.detail', id=work.id) }}">&#x2190;&nbsp;Detail</a>
					<a class="btn-link" href="{{ url_for('gallery.WorkImageList', id=work.id) }}">Images</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
