{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
	<section class="background-light dark auth-cont">
		<div class="container">
			<div class="pad-top64px">
				<form method="post">
					<ul class="flex flex--column auth-flex none-list-style">
						<li class="auth-text"><label for="username">Username</label></li>
						<li><input name="username" id="username" required></li>
						<li class="auth-text"><label for="password">Password</label></li>
						<li><input type="password" name="password" id="password" required></li>
						<li><input class="fontsize16px fontweight600 auth-btn auth-btn-primary" type="submit" value="Log In"></li>
					</ul>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
