{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
	<section class="light flex flex--center carousel">
		<div class="container">
			<div class="carousel--inner">
				<p class="fontsize32px carousel--heading-primary">Прості та вигідні рішення для бізнесу</p>
				<p class="fontsize18px carousel--desc">Ознайомся з нашими пропозиціями та послугами, зроби свій бізнес стильним та впізнаваним. Ми гарантуємо унікальний дизайн, який сподобається вам та вашим клієнтам, у короткий термін та за приємну ціну.</p>
				<a class="carousel--btn" href="#offer">Переглянути пропозиції</a>
			</div>
		</div>
	</section>

	<section class="background-dark light pad-top64px pad-btm64px">
		<div class="container textaligncenter flex flex--center flex--space-around">
			<div>
				<p class="statistics-count qoc">0256</p>
				<p class="fontsize24px statistics-info">Виконаних замовлень</p>
			</div>
			<div>
				<p class="statistics-count qoc">0098</p>
				<p class="fontsize24px statistics-info">Унікальних дизайнів</p>
			</div>
			<div>
				<p class="statistics-count qoc">0065</p>
				<p class="fontsize24px statistics-info">Задоволених клієнтів</p>
			</div>
		</div>
	</section>

	<section class="background-light dark" id="cooldesign">
		<div class="container">
			<p class="fontsize64px letterspacing1-5px cooldesign-title qoc">РОБИМО КРУТИЙ ДИЗАЙН ДЛЯ НАШИХ КЛІЄНТІВ</p>
			<p class="fontsize18px cooldesign-info">Ми - команда Sheikhs, наша робота - це про ваш бізнес та його обличчя. Щодня ми приймаємо десятки замовлень від клієнтів, консультуємо їх та допомагаємо у розвитку їхніх справ. Щодня ми робимо логотипи, вивсіки, поліграфічні матеріали, навігацію, візуалізації та концепти для ваших інстаграмів, торгових точок, офісів та робочих місць.</p>
			<div class="flex flex--center cooldesign-inner">
				<div>
					<img class="cooldesign-img" src="{{ url_for('static', filename='01.png') }}" alt="Not Found">
					<p class="fontsize16px cooldesign-p">Створимо унікальну айдентику, та увесь бренд-пакет для вашого бізнесу</p>
				</div>
				<div>
					<img class="cooldesign-img" src="{{ url_for('static', filename='02.png') }}" alt="Not Found">
					<p class="fontsize16px cooldesign-p">Дослухуховуємось до усіх побажань та вибудовуємо роботу у вашому режимі</p>
				</div>
				<div>
					<img class="cooldesign-img" src="{{ url_for('static', filename='03.png') }}" alt="Not Found">
					<p class="fontsize16px cooldesign-p">Візуалізуємо усю роботу, виконуємо замовлення по поліграфії та віддаємо готовий продукт</p>
				</div>
			</div>
		</div>
	</section>

	<section class="background-dark light" id="portfolio">
		<div class="container portfolio-inner">
			<p class="fontsize64px letterspacing1-5px qoc pad-top64px pad-btm64px">НАШЕ ПОРТФОЛІО</p>
			<div class="grid grid--2-cols grid--gap-24px">
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=24) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '1_Leggitop_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=25) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '2_Pidshypnyk_group_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=26) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '3_d0cplay_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=27) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '4_MSI_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=28) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '5_Bearing_store_title_image.svg') }}">
					</a>
				</div>
				<div class="portfolio--div-img">
					<a href="{{ url_for('gallery.detail', id=29) }}">
						<img class="portfolio-img" src="{{ url_for('static', filename='images/' + '6_Purple_lama_title_image.svg') }}">
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="background-light" id="offer">
		<div class="offer-cont container">
			<p class="offer-title dark qoc">ЩО МИ ПРОПОНУЄМО?</p>
			<div class="light grid grid--3-cols grid--gap-24px">
				<div class="flex flex--column background-dark">
					<p class="fontsize32px letterspacing1-5px offer-type qoc">БАЗОВИЙ ПАКЕТ</p>
					<p class="offer-price qoc">3000<span>&#8372;</span></p>
					<ul class="fontsize16px pad-right32px pad-left32px flex flex--column none-list-style offer-list">
						<li class="offer-info">Два варіанти логотипу із доопрацюванням одного обраного</li>
						<li class="offer-info">Пакет файлів з усіма форматами логотипу</li>
						<li class="offer-info">Презентація із прикладами застосування логотипу та візуалізаціями</li>
						<li class="offer-info">Розробка коротких версій логотипу (іконки для соцмереж чи сайтів)</li>
						<li class="offer-info">Створення корпоративної палітри кольорів</li>
						<li class="offer-info">Підготовка фірмових текстур для соцмереж та трьох макетів поліграфії (візитки, флаєр, фірмовий бланк тощо)</li>
					</ul>
				</div>
				<div class="background-dark">
					<p class="fontsize32px letterspacing1-5px offer-type qoc">СТАНДАРТНИЙ ПАКЕТ</p>
					<p class="offer-price qoc">4000<span>&#8372;</span></p>
					<ul class="fontsize16px pad-right32px pad-left32px flex flex--column none-list-style offer-list">
						<li class="offer-info">Три варіанти логотипу із доопрацюванням одного обраного</li>
						<li class="offer-info">Пакет підготованих файлів для друку та web-використання</li>
						<li class="offer-info">Презентація із прикладами застосування логотипу та візуалізаціями</li>
						<li class="offer-info">Розробка коротких версій логотипу (іконки для соцмереж чи сайтів</li>
						<li class="offer-info">Створення корпоративної палітри кольорів</li>
						<li class="offer-info">Підготовка фірмових текстур для соцмереж та трьох макетів поліграфії (візитки, флаєр, фірмовий бланк тощо)</li>
					</ul>
				</div>
				<div class="background-dark">
					<p class="fontsize32px letterspacing1-5px offer-type qoc">РОЗШИРЕНИЙ ПАКЕТ</p>
					<p class="offer-price qoc">5000<span>&#8372;</span></p>
					<ul class="fontsize16px pad-right32px pad-left32px pad-btm64px flex flex--column none-list-style offer-list">
						<li class="offer-info">Чотири варіанти логотипу із доопрацюванням одного обраного</li>
						<li class="offer-info">Пакет підготовлених файлів для друку та web-використання</li>
						<li class="offer-info">Презентація із прикладами застосування логотипу та візуалізаціями</li>
						<li class="offer-info">Розробка коротких версій логотипу (іконки для соцмереж чи сайтів)</li>
						<li class="offer-info">Створення корпоративної палітри кольорів</li>
						<li class="offer-info">Підготовка фірмових текстур для соцмереж та трьох макетів поліграфії (візитки, флаєр, фірмовий бланк тощо)</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
