{% extends 'base.html' %}

{% block header %}
	</h1>{% block title %}Add work{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="title">Title</label>
		<input name="title" id="title" value="{{ request.form['title'] }}" required>
		<label for="description">Description</label>
		<textarea name="description" id="description">{{ request.form['description'] }}</textarea>
		<label for="image">Image</label>
		<input name="image" id="image">  <!--TODO-->
		<input type="submit" value="Save">
	</form>
{% endblock %}
