{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
	<section class="light flex flex--center carousel">
		<div class="container">
			<div class="carousel--inner">
				<p class="fontsize32px carousel--heading-primary">Прості та вигідні рішення для бізнесу</p>
				<p class="fontsize18px carousel--desc">Ознайомся з нашими пропозиціями та послугами, зроби свій бізнес стильним та впізнаваним. Ми гарантуємо унікальний дизайн, який сподобається вам та вашим клієнтам, у короткий термін та за приємну ціну.</p>
				<a class="inlineblock carousel--btn" href="#">Переглянути пропозиції</a>
			</div>
		</div>
	</section>

	<section class="background-dark light pad-top64px pad-btm64px">
		<div class="container textaligncenter flex flex--center flex--space-around">
			<div>
				<p class="statistics-count qoc">0256</p>
				<p class="fontsize24px statistics-info">Виконаних замовлень</p>
			</div>
			<div>
				<p class="statistics-count qoc">0098</p>
				<p class="fontsize24px statistics-info">Унікальних дизайнів</p>
			</div>
			<div>
				<p class="statistics-count qoc">0065</p>
				<p class="fontsize24px statistics-info">Задоволених клієнтів</p>
			</div>
		</div>
	</section>
{% endblock %}
