{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
	<section class="light flex flex--center carousel">
		<div class="container">
			<div class="carousel--inner">
				<p class="fontsize32px carousel--heading-primary">Прості та вигідні рішення для бізнесу</p>
				<p class="fontsize18px carousel--desc">Ознайомся з нашими пропозиціями та послугами, зроби свій бізнес стильним та впізнаваним. Ми гарантуємо унікальний дизайн, який сподобається вам та вашим клієнтам, у короткий термін та за приємну ціну.</p>
				<a class="inlineblock carousel--btn" href="#">Переглянути пропозиції</a>
			</div>
		</div>
	</section>
{% endblock %}
