{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}{{ work['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<article class="post">
		<header>
			<div>
				<div class="about">
					<p>{{ work.description }}</p>
					<p>created: {{ work.created }}</p>
					{% if work.image %}
						<img class="work-img" src="{{ url_for('static', filename='images/' + work.image) }}">
					{% else %}
						<p>Not Found</p>
					{% endif %}
				</div>
			</div>
		</header>
	</article>
{% endblock %}
